# Ignore specific folders
/models/lm-evaluation-harness/
./HowTo/
./distributed/

# Ignore all virtual environments (including nested ones)
**/venv/
**/.venv/

# Ignore model folder (if needed everywhere)
**/model/

# Ignore Python cache and virtual environment folders
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore log and temporary files
logs/
temp/

# Ignore node_modules for frontend projects
**/node_modules/